.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  width: 120vh;
  right: 0;
  bottom: 0;
  background-color: #032c34;
  color: white;
  border-radius: 0.5rem;
}

.option {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.option:hover {
  background-color: #dddddd;
  cursor: pointer;
  color: purple;
  border-radius: 0.3rem;
}
